.container {
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

.listitem {
  border: 0.1px solid black;
  margin: 10px;
}
.textfield {
  width: 90%;
}
.strikethrough {
  text-decoration: line-through;
}
